<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Attach-Mapper">
	<insert id="insertOrderGoodsAtach" parameterType="attach" >
	 	INSERT INTO TB_ATTACH_FILE
		(
			ATCH_FILE_NO,
			ATCH_FILE_SEQ,
			BIZ_TYPE,
			FILE_PATH,
			FILE_NM,
			SAVE_FILE_NM,
			FILE_CONT_TYPE,
			FILE_SIZE,
			FILE_DOWN_CNT
		) 
		VALUES 
		(
			#{atchFileNo},
			1,
			'물품발주',
			#{filePath},
			#{fileNm},
			#{saveFileNm},
			#{fileContType},
			#{fileSize},
			0
		)
	</insert>
	<select id="selectFileNo" resultType="int">
		 select 
		 atch_file_no_seq.nextval
		 from dual
	</select>
  
</mapper>