<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Delivery-Mapper">

	<resultMap type="laundryOrder" id="laundryOrderMap">
		<result column="ORDER_NO" property="orderNo"/>
		<result column="REQUEST_DETAILS" property="requestDetails"/>
		<result column="ORDER_DATE" property="orderDate"/>
		<result column="CONTACT_NUMBER" property="contactNumber"/>
		<result column="DELIVERY_REQUEST_DATE" property="deliveryRequestDate"/>
		<result column="TOTAL_PRICE" property="totalPrice"/>
		<result column="PICKUP_REQUEST_DATE" property="pickupRequestDate"/>
		<result column="PICKUP_DATE" property="pickupDate"/>
		<result column="BRANCH_ARRIVAL_DATE" property="branchArrivalDate"/>
		<result column="AREA" property="area"/>
		<result column="DELIVERY_DATE" property="deliveryDate"/>
		<result column="ORDER_STATUS" property="orderStatus"/>
		<result column="CANCEL_YN" property="cancelYn"/>
		<result column="PAYMENTNO" property="paymentNo"/>
		<result column="BRANCH_CODE" property="branchCode"/>
		<result column="MEMBERNO" property="memberNo"/>
		<result column="DELIVERY_EMPLOYEE_ID" property="deliveryEmployeeId"/>
		<result column="PICKUP_EMPLOYEE_ID" property="pickupEmployeeId"/>
		<result column="ZIP" property="zip"/>
		<result column="ADD1" property="add1"/>
		<result column="ADD2" property="add2"/>
		<result column="ATCH_FILE_NO" property="atchFileNo"/>
		<result column="REPLYNO" property="replyNo"/>
	</resultMap> 
	
	<resultMap type="laundryOrderDetail" id="laundryOrderDetailMap">
		<result column="DETAIL_ORDERNO" property="detailOrderno"/>
		<result column="ORDER_NO" property="orderNo"/>
		<result column="PRICE" property="price"/>
		<result column="LAUNDRY_ITEMS_CODE" property="laundryItemsCode"/>
		<result column="QUANTITY" property="quantity"/>
		<result column="ITEMS_NAME" property="itemsName"/>
	</resultMap>
	
	<select id="selectDeliveryList" resultMap="laundryOrderMap" parameterType="str">
		select *
		  from TB_LAUNDRY_ORDER
		 where ORDER_STATUS=#{orderStatus}
	</select>

	<select id="selectDeliveryByorderNo" resultMap="laundryOrderMap" parameterType="laundryOrder">
		select *
		  from TB_LAUNDRY_ORDER
		 where ORDER_NO=#{orderNo}
	</select>
	
	<select id="selectItemsListByOrderNo" resultMap="laundryOrderDetailMap" parameterType="str">
		select *
		  from TB_LAUNDRY_ORDER_DETAIL
		 where ORDER_NO=#{orderNo}
	</select>
</mapper>