<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ItemOrder-mapper">

	<!-- 언더바컬럼재정의 -->
	<resultMap type="itemOrder" id="itemOrderMap">
		<result column="ORDERCODE" property="ordercode"/>
		<result column="ITEM_ORDER_PAYMENT_PRICE" property="itemOrderPaymentPrice"/>
		<result column="ITEM_ORDER_STATUS" property="itemOrderStatus"/>
		<result column="CHARGER" property="charger"/>
		<result column="BRANCH_CODE" property="branchCode"/>
		<result column="REGIST_DATE" property="registDate"/>
		<result column="RECEIPT_DATE" property="receipTDate"/>
		<result column="ARTICLES_CODE" property="articlesCode" />
		<result column="SEQ" property="seq"/>
		<result column="ORDER_COUNT" property="orderCount" />
		
	</resultMap>
	
	<select id="selectSearchItemOrder" parameterType="itemOrder" resultMap="itemOrderMap">
		select *
		  from TB_ITEM_ORDER
	</select>
	
	<select id="selectSearchItemOrderCount" resultType="int">
		select
		 count(*) 
		  from TB_ITEM_ORDER
	</select>
	
	<select id="selectItemOrderBySeq" resultType="int">
		SELECT 
		A.ORDERCODE
		,B.ARTICLES_CODE
		,B.SEQ
		,B.ORDER_COUNT
		,A.ITEM_ORDER_PAYMENT_PRICE
		,A.ITEM_ORDER_STATUS
		,A.CHARGER
		,A.BRANCH_CODE
		,A.REGIST_DATE
		,A.RECEIPT_DATE
		FROM TB_ITEM_ORDER A, TB_ITEM_ORDER_DETAIL B
		WHERE A.ORDERCODE = B.ORDERCODE
		AND B.ORDERCODE = #{orderCode}
	</select>
	
	
	
	
</mapper>