<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="LaundryOrder-Mapper">
	
	<resultMap type="laundryOrder" id="laundryOrderMap">
		<result column="ORDER_NO" 		 property="orderNo" />
		<result column="REQUEST_DETAILS" property="requestDetails" />
		<result column="ORDER_DATE"      property="orderDate" />
		<result column="CONTACT_NUMBER"  property="contactNumber" />
		<result column="DELIVERY_REQUEST_DATE" property="deliveryRequestDate" />
		<result column="TOTAL_PRICE" property="totalPrice" />
		<result column="PICKUP_REQUEST_DATE" property="pickupRequestDate" />
		<result column="PICKUP_DATE" property="pickupDate" />
		<result column="BRANCH_ARRIVAL_DATE" property="branchArrivalDate" />
		<result column="AREA" property="area" />
		<result column="DELIVERY_DATE" property="deliveryDate" />
		<result column="ORDER_STATUS" property="orderStatus" />
		<result column="CANCEL_YN" property="cancelYn" />
		<result column="PAYMENTNO" property="paymentNo" />
		<result column="BRANCH_CODE" property="branchCode" />
		<result column="MEMBERNO" property="memberNo" />
		<result column="DELIVERY_EMPLOYEE_ID" property="deliveryEmployeeId" />
		<result column="PICKUP_EMPLOYEE_ID" property="pickupEmployeeId" />
		<result column="ZIP" property="zip" />
		<result column="ADD1" property="add1" />
		<result column="ADD2" property="add2" />
		<result column="ATCH_FILE_NO" property="atchFileNo" />
		<result column="REPLYNO" property="replyNo" />
	 
	
	</resultMap>
	<sql id="search">
		<if test="searchType == '01'.toString()">
			and order_status = '01'		
		</if>
		<if test="searchType == '02'.toString()">
			and order_status = '02'			
		</if>
		<if test="searchType == '03'.toString()">
			and order_status = '03'		
		</if>
		<if test="searchType == '04'.toString()">
			and order_status = '04'		
		</if>
		<if test="searchType == '05'.toString()">
			and order_status = '05'		
		</if>
		<if test="searchType == '06'.toString()">
			and order_status = '06'		
		</if>
		<if test="searchType == '07'.toString()">
			and order_status = '07'		
		</if>
		<if test="searchType == '08'.toString()">
			and order_status = '08'		
		</if>
		<if test="searchType == '09'.toString()">
			and order_status = '09'		
		</if>
		<if test="searchType == '10'.toString()">
			and order_status = '10'		
		</if>
	</sql>


	<select id="selectCount" resultType="int">
		select count(*)
		from TB_LAUNDRY_ORDER
		where ORDER_NO is not null
		<include refid="search"/>
		<if test="!branchCode.equals('') and branchCode!=null">
			and branch_code = #{branchCode}
		</if>
		
	</select>
	
	<select id="selectLaundryOrderList" resultMap="laundryOrderMap">
		select *
		  from TB_LAUNDRY_ORDER
		 where ORDER_NO is not null
		 <if test="!branchCode.equals('') and branchCode!=null">
			and branch_code = #{branchCode}
		</if>
		<include refid="search"/>
		 order by ORDER_DATE
		 
	</select>
	
	<update id="updateLaundryOrderStatusByOrderNo" parameterType="laundryOrder" >
		update TB_LAUNDRY_ORDER
		   set order_status=#{orderStatus}
		 where order_no=#{orderNo} 
	</update>

	
	

</mapper>
