<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LaundryGoodsStock-Mapper">
	<resultMap type="laundrygoodsstock" id="laundrygoodsstockMap">
		<result column="BRANCH_CODE" property="branchCode"/>
		<result column="ARTICLES_CODE" property="articlesCode"/>
		<result column="SUPPLY_COUNT" property="supplyCount"/>
	</resultMap>
	<insert id="insertLaundryGoodsStock">
		insert into tb_laundry_goods_stock
		(
		BRANCH_CODE,
		ARTICLES_CODE,
		SUPPLY_COUNT
		)values
		(
		#{branchCode},
		#{articlesCode},
		0
		)
	</insert>
	<update id="updateLaundryGoodsStockCountByVO" parameterType="laundrygoodsstock">
		update tb_laundry_goods_stock
		   set supply_count=supply_count+#{supplyCount}
		 where branch_code=#{branchCode}
		   and articles_code=#{articlesCode} 
	</update>
	
	
</mapper>