<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>세탁매출</title>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="./width.css"></link>
     
</head>

<body>
    <div id="body">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">세탁매출 내역</h3>
                        <div class="card-tools">
                            
                            <div class="input-group input-group-sm" style="width: 350px;">
                                <select class="form-control col-md-3" name="searchType" id="searchType">
                                    <option value="tcw" >와이셔츠</option>
                                    <option value="t">청바지</option>
                                   
                                    
                                </select>	
                                <select class="form-control col-md-5" name="perPageNum" id="perPageNum"
                                onchange="list_go();">
                                <option value="10" >정렬개수</option>
                                <option value="20">20개씩</option>
                                <option value="50">50개씩</option>
                                <option value="100">100개씩</option>
					  		
					  	        </select>						
                            <select class="form-control col-md-3" name="searchType" id="searchType">
                                <option value="tcw" >월</option>
                                <option value="t">주</option>
                                <option value="w" >일</option>
                                <option value="c" >분기</option>
                                <option value="tc" >년도</option>
                                
                            </select>	
                               
                       
						<span class="input-group-append">
							
                            <button class="btn btn-primary">표로보기</button>
						</span>
                            </div>
                        </div>
                    </div>

                    <div class="card table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th class="width20">세탁물품명</th>
                                    <th class="width20">월별</th>
                                    <th class="width20">금액</th>
                                    <th class="width20">세탁개수</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>John Doe</td>
                                    <td>11-7-2014</td>
                                    <td>200개</td>
                           
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>John Doe</td>
                                    <td>11-7-2014</td>
                                    <td>200개</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>John Doe</td>
                                    <td>11-7-2014</td>
                                  
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>John Doe</td>
                                    <td>11-7-2014</td>
                                   
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>John Doe</td>
                                    <td>11-7-2014</td>
                                
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>John Doe</td>
                                    <td>11-7-2014</td>
                                
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>John Doe</td>
                                    <td>11-7-2014</td>
                                   
                                </tr>
                                <tr>
                                    <td>219</td>
                                    <td>Alexander Pierce</td>
                                    <td>11-7-2014</td>
                                  
                                </tr>
                                <tr>
                                    <td>95</td>
                                    <td>Bob Doe</td>
                                    <td>200</td>
                             
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>12132120000</td>
                                    <td>100</td>
                                  
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>

</body>

</html>