<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="LaundryOrder-Mapper">

	<select id="selectLaundryOrderSequenceNextValue" resultType="str">
		select FN_LAUNDRY_ORDER_NO('now') from DUAL
	</select>

	<update id="insertLaundryOrder" parameterType="laundryOrder">
		<choose>
			<when test="requestDetails != null">
				INSERT INTO TB_LAUNDRY_ORDER
					(ORDER_NO,
					CONTACT_NUMBER,
					ZIP,
					ADD1,
					ADD2,
					DELIVERY_REQUEST_DATE,
					PICKUP_REQUEST_DATE,
					REQUEST_DETAILS,
					MEMBERNO,
					AREA,
					TOTAL_PRICE,
					PAYMENTNO,
					ATCH_FILE_NO)
					VALUES (
					#{orderNo},
					#{contactNumber},
					#{zip},
					#{add1},
					#{add2},
					#{deliveryRequestDate},
					#{pickupRequestDate},
					#{requestDetails},
					#{memberNo},
					#{area},
					#{totalPrice},
					#{paymentNo},
					#{atchFileNo}
					)
			</when>
	
			<otherwise>
				INSERT INTO TB_LAUNDRY_ORDER
					(ORDER_NO,
					CONTACT_NUMBER,
					ZIP,
					ADD1,
					ADD2,
					DELIVERY_REQUEST_DATE,
					PICKUP_REQUEST_DATE,
					MEMBERNO,
					AREA,
					TOTAL_PRICE,
					PAYMENTNO,
					ATCH_FILE_NO)
					VALUES (
					#{orderNo},
					#{contactNumber},
					#{zip},
					#{add1},
					#{add2},
					#{deliveryRequestDate},
					#{pickupRequestDate},
					#{memberNo},
					#{area},
					#{totalPrice},
					#{paymentNo},
					#{atchFileNo}
					)
			</otherwise>
		</choose>
	</update>

</mapper>
