<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>asrequestlist</title>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="./width.css">

</head>

<body>
    <div id="body">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">as 요청 목록</h3>
                        <div class="card-tools">

                            <div class="input-group input-group-sm " style="width: 350px;">
                                <button type="button" class="btn-sm btn-primary ">as 신청</button>&nbsp;
                                    <select class="form-control " name="perPageNum" id="perPageNum" onchange="list_go();">
                                        <option value="10">정렬개수</option>
                                        <option value="20">20개씩</option>
                                        <option value="50">50개씩</option>
                                        <option value="100">100개씩</option>
                                
                                    </select>
                                    <select class="form-control " name="searchType" id="searchType">
                                        <option value="tcw">승인대기</option>
                                        <option value="t">승인</option>
                                        <option value="t">반려</option>
                                        <option value="t">수리대기</option>
                                        <option value="t">수리완료</option>
                                    </select>
                                    <span class="input-group-append">
                                        <button class="btn btn-primary" type="button" onclick="list_go(1);" data-card-widget="search">
                                            <i class="fa fa-fw fa-search"></i>
                                        </button>
                                    </span>
                                
                            </div>
                        </div>
                    </div>

                    <div class="card table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th class="width10">물품이름</th>
                                    <th class="width15">저자</th>
                                    <th class="width30">고장원인</th>
                                    <th class="width30">고장내용</th>
                                    <th class="width15">상태</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>183</td>
                                    <td>John Doe</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-success">Approved</span></td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>183</td>
                                    <td>John Doe</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-success">Approved</span></td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>183</td>
                                    <td>John Doe</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-success">Approved</span></td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>183</td>
                                    <td>John Doe</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-success">Approved</span></td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>183</td>
                                    <td>John Doe</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-success">Approved</span></td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>183</td>
                                    <td>John Doe</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-success">Approved</span></td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>183</td>
                                    <td>John Doe</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-success">Approved</span></td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>219</td>
                                    <td>Alexander Pierce</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-warning">Pending</span></td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>657</td>
                                    <td>Bob Doe</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-primary">Approved</span></td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>175</td>
                                    <td>Mike Doe</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-danger">Denied</span></td>
                                    <td>1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>

</body>

</html>